body {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.16) 0%,
      rgba(0, 0, 0, 0.08) 25%,
      rgba(0, 0, 0, 0.08) 75%,
      rgba(0, 0, 0, 0.16) 100%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.72) 0%,
      rgba(255, 255, 255, 0.96) 25%,
      rgba(255, 255, 255, 0.96) 75%,
      rgba(255, 255, 255, 0.72) 100%
    ),
    url("~assets/images/motion-background.gif");
}
